$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #282c34;
$color-dark-transparent-hard: rgba(0, 0, 0, 0.85);
$color-dark-transparent-light: rgba(0, 0, 0, 0.25);
$border-radius: 8px;
$theme-unit: 1rem;

body {
  background-color: $color-black-light;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color-white;
}

button,
input {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: $color-white;
  color: $color-black;
  border: 3px solid $color-dark-transparent-hard;
  padding: 10px 30px;
  font-family: Courier;
  box-shadow: -3px 4px 0px 0px $color-dark-transparent-hard;
  transition: transform 0.1s ease, box-shadow 0.1s ease, opacity 0.1s ease;
  margin: $theme-unit;
  opacity: 0.5;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: $border-radius;
}

input {
  margin: 0px;
  cursor: initial;
}

button {
  margin: 0px;
  font-size: 1.25rem;
}

h3 {
  margin: 0px;
}

button:hover,
button:focus,
.active-color {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px 0px $color-dark-transparent-hard;
  opacity: 1;
}

button:active {
  color: $color-white;
}

.active-color {
  color: $color-white;
  cursor: default;
}

.inactive-submit:hover {
  transform: none;
  box-shadow: -3px 4px 0px 0px $color-dark-transparent-hard;
  opacity: 0.5;
}

.active,
input:focus {
  opacity: 1;
}

.Ui-wrapper {
  display: flex;
  gap: $theme-unit;
}

canvas {
  box-shadow: -3px 4px 16px 1px $color-dark-transparent-light;
  border-radius: $border-radius;
}

.Sidebar-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: $theme-unit;
}

.Input-wrapper {
  width: 300px;
  background-color: $color-dark-transparent-light;
  padding: $theme-unit * 2;
  border-radius: $border-radius;
  .Colors-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $theme-unit;
    button {
      margin: 0px;
      font-size: 1.25rem;
      flex: 0 0 calc(50% - $theme-unit / 2);
    }
  }
}

.Section {
  display: flex;
  flex-direction: column;
}

.Gap-1 {
  gap: $theme-unit;
}

.Gap-2 {
  gap: $theme-unit * 2;
}

.Leaderboard {
  height: 100%;
  background-color: $color-dark-transparent-light;
  color: $color-white;
  text-align: left;
  font-size: 14px;
  border-radius: $border-radius;
  overflow: hidden;
  overflow-y: scroll;

  // &::-webkit-scrollbar {
  //   -webkit-appearance: none;
  //   width: 5px;
  // }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .row {
    padding: $theme-unit;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $color-dark-transparent-light;
  }
}

.snackbar {
  visibility: hidden;
  background-color: $color-dark-transparent-light;
  color: $color-white;
  border-radius: $border-radius;
  font-size: $theme-unit;
  text-align: left;
  padding: $theme-unit;
  position: relative;
  p {
    padding: 0px;
    margin: 0px;
  }
}

.v-hidden {
  visibility: hidden;
}

.v-visible {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: -$theme-unit * 2;
    opacity: 0;
  }
  to {
    bottom: 0rem;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 0rem;
    opacity: 1;
  }
  to {
    bottom: -$theme-unit * 2;
    opacity: 0;
  }
}
