body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button,
input {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: white;
  color: #000;
  border: 3px solid rgba(0, 0, 0, 0.85);
  padding: 10px 30px;
  font-family: Courier;
  box-shadow: -3px 4px 0px 0px rgba(0, 0, 0, 0.85);
  transition: transform 0.1s ease, box-shadow 0.1s ease, opacity 0.1s ease;
  margin: 1rem;
  opacity: 0.5;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 8px;
}

input {
  cursor: initial;
}

button:hover,
button:focus,
.active-color {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.85);
  opacity: 1;
}

button:active {
  color: white;
}

.active-color {
  color: white;
  cursor: default;
}

.inactive-submit:hover {
  transform: none;
  box-shadow: -3px 4px 0px 0px rgba(0, 0, 0, 0.85);
  opacity: 0.5;
}

.active,
input:focus {
  opacity: 1;
}

canvas {
  box-shadow: -3px 4px 16px 1px rgb(0 0 0 / 25%);
  border-radius: 8px;
}